.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  align-content: center;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em .5em;
  height: 2.5em;
  border-radius: 4px;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes .text {
  position: relative;
  top: -3px;
}
button.delete:hover {
  background-color: #cfd8dc;
}
button.delete {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 0px 10px;
  border-radius: 4px;
  cursor: pointer;
  float:right;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
}